rect {
    stroke: #fff;
    stroke-width: .1px;
} 

.page-container {
    margin: 10px;
}

#image th, #image td {
    min-width: 20px;
    color: black;
 }

#image td {
    text-align: right;
    max-width: 20px;
    font-size: 10px;
}

#image td span.input-group-addon, #image td.network_score {
    font-size: 16px;
    max-width: 100px;
}

.network_score {
    text-align: right;
}

#colorbar > canvas {
    height: 100%;
}

td span{
    white-space: nowrap;
}

th {
    white-space: nowrap;
}

td.status.LOADING{
    background-color: hsla(60, 100%, 50%, 0.5);
}

td.status.FINISHED{
    background-color: hsla(120, 100%, 25%, 0.5);
}

td.status.ERROR{
    background-color: hsla(0, 100%, 50%, 0.5);
}

td.status.REEVALUATING{
    background-color: hsla(60, 100%, 50%, 0.5);
}

td.status.PENDING_REEVALUATION{
    background-color: hsla(204, 100%, 50%, 0.5);
}



#colorbar_table {
    height: 100%;
}

#max_colorbar {
    vertical-align: top;
}

#min_colorbar {
    vertical-align: bottom;
}

nav span.alert{
    padding: 0.4rem 1rem;
    margin-bottom: auto
}

nav > div {
    width: 100%;
}

.pagination {
    margin-top: 10px;
}

.page-link {
    border-color: hsl(0, 0%, 73%)
}

.page-link:hover {
    border-color: hsl(0, 0%, 73%)
}
.page-item.disabled .page-link {
    border-color: hsl(0, 0%, 73%)
}
