rect {
    stroke: #fff;
    stroke-width: .1px;
} 

body {
    margin: 10px;
}

#image th, #image td {
    border: 1px solid white;
    min-width: 20px;
}

#colorbar > canvas {
    height: 100%;
}

td span{
    white-space: nowrap;
}

td.status.LOADING{
    background-color: rgba(255, 255, 0, 0.5);
}

td.status.FINISHED{
    background-color: rgba(0, 128, 0, 0.5);
}

td.status.ERROR{
    background-color: rgba(255, 0, 0, 0.5);
}

#colorbar_table {
    height: 100%;
}

#max_colorbar {
    vertical-align: top;
}


#min_colorbar {
    vertical-align: bottom;
}