rect {
    stroke: #fff;
    stroke-width: .1px;
} 

.page-container {
    margin: 10px;
}

#image th, #image td {
    min-width: 20px;
    color: black;
 }

#image td {
    text-align: right;
    max-width: 20px;
    font-size: 10px;
}

#image td span.input-group-addon, #image td.network_score {
    font-size: 16px;
    max-width: 100px;
}

.network_score {
    text-align: right;
}

#colorbar > canvas {
    height: 100%;
}

td span{
    white-space: nowrap;
}

th {
    white-space: nowrap;
}

td.status.LOADING{
    background-color: rgba(255, 255, 0, 0.5);
}

td.status.FINISHED{
    background-color: rgba(0, 128, 0, 0.5);
}

td.status.ERROR{
    background-color: rgba(255, 0, 0, 0.5);
}

#colorbar_table {
    height: 100%;
}

#max_colorbar {
    vertical-align: top;
}

#min_colorbar {
    vertical-align: bottom;
}

nav span.alert{
    padding: 0.4rem 1rem;
    margin-bottom: auto
}

nav > div {
    width: 100%;
}