{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script src="{{url_for( 'static', filename='fetchActions.js' )}} "></script>
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-12">
      {{title}}
    </div>
  </div>
  <div class="alert alert-danger" id="apiError" hidden="true" role="alert"></div>
  <div class="row">
    <!-- INPUT -->
    <div class="col-md-3">
      <div class="form-row">
        <div class="form-group">
          <label for="runInput">Run</label>
          <input class="form-control mb-2 mr-sm-2" id="runInput" min="1" required placeholder="Run number">
        </div>
      </div>
    </div>
    <div class="mt-auto form-group">
        <button class="btn btn-primary" onclick="onFetchData()">Fetch</button>
      <div class="mb-2">
      </div>
    </div>
  </div>
  <row>
    <table class="col-md-6 table-striped">
      <tr>
        <th>Run number:</th>
        <th>Status:</th>
        <th>Status update time:</th>
        <th/>
      </tr>
    {% for item in runs %}
    <tr>
        <td>{{item.run}}</td>
        <td class="status {{item.status}}">{{item.status}}</td>
        <td>{{item.save_time}}</td>
        {% if item.status == "FINISHED" %}
         <td><button type="button" class="btn btn-success">Load</button></td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  </row>
{% endblock %}