{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-12">
      {{title}}
    </div>
  </div>
  <div class="alert alert-danger" id="apiError" hidden="true" role="alert"></div>
  <div class="row">
    <!-- INPUT -->
    <div class="col-md-8">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="runInput">Run</label>
          <input class="form-control mb-2 mr-sm-2" id="runInput" type="number" min="1" required placeholder="Run number">
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-auto form-group">
      <div class="mb-2">
        <button class="btn btn-primary" onclick="loadData()">Fetch</button>
      </div>
    </div>
  </div>
  <row>
    {% for item in runs %}
      <div> {{ item }} </div>
    {% endfor %}
  </row>
{% endblock %}