{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script src="{{url_for( 'static', filename='fetchActions.js' )}}" type="module"></script>
{% endblock %}
{% block body %}
  {{ super() }}
  <div class="row">
    <!-- INPUT -->
    <div class="col-md-3">
      <div class="form-row">
        <div class="form-group">
          <label for="runInput">Run</label>
          <input class="form-control mb-2 mr-sm-2" id="runInput" min="1" required placeholder="Run number">
        </div>
      </div>
    </div>
    <div class="mt-auto form-group">
        <button class="btn btn-primary" onclick="onFetchData()">Fetch</button>
      <div class="mb-2">
      </div>
    </div>
  </div>
  <div>
    <table class="col-md-12 table-striped">
      <tr>
        <th>Identifier:</th>
        <th>Status:</th>
        <th>Status update time:</th>
        <th/>
        <th/>
      </tr>
      {% for item in runs %}
      <tr>
        <td>{{item.identifier}}</td>
        <td class="status {{item.status}}">{{item.status}}</td>
        <td>{{item.save_time}}</td>
        {% if item.status == "FINISHED" %}
        <td>
          <a type="button" class="btn btn-success" href="/eval/{{item.identifier.run}}">Load</a>
        </td>
        {% elif item.status == "ERROR" %}
        <td>
          <a type="button" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Error: {{item.exception}}">Error</a>
        </td>
        {% endif %}
        <td>
          <button type="button" class="btn btn-danger" onclick="deleteRun({{item.identifier}})">Delete</button>
        </td>
        <td>
        </td>  
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}