<!doctype html>

<head>
  {% block head %}
  <title>CMS DQM</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
  crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav justify-content-between d-flex">
      <div class="mr-auto d-flex ">
        <a class="nav-item nav-link" href="/eval">Evaluate</a>
        <a class="nav-link" href="/manage">Manage</a>
        <a class="nav-link" href="/data/net_scores">Network scores</a>
        <a class="nav-link" href="/data/new_net_scores">Unevaluated network scores</a>
        <a class="nav-link" href="/data/contamination">Contamination</a>
      </div>
      <div class="m-auto">  
        <span class="float-right alert alert-danger" id="apiError" hidden="true" role="alert">  </span>
        <span class="alert alert-success" id="apiMessage" hidden="true" role="alert"></span>
      </div>
  </div>
  </nav>
  <div class="page-container" >
    {% block body %}
    {% endblock %}
  </div>
</body>