{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script src="{{url_for( 'static', filename='fetchActions.js' )}} "></script>
{% endblock %}
{% block body %}
  {{ super() }}
  <div>
    <table class="col-md-12 table-striped">
      <tr>
        <th>Identifier:</th>
        <th>Params:</th>
        <th>Network score:</th>
        <th>Certainty score:</th>
        {% if showScores is defined and showScores %}
        <th>Evaluated bad layers</th>
        {% endif %} 
        <th/>
      </tr>
      {% for item in scores %}
      <tr>
        <td>{{item.identifier}}</td>
        <td>{{item.data.params}}</td>
        <td>
          |
          {% for c in item.data.scores %}   
          {{ "%.3f|"|format(c) }}
          {% endfor %}
        </td>
        <td>{{"%.5f"|format(item.rating)}}</td>
        {% if showScores is defined and showScores %}
          {% if item.data.evaluation is defined %}
            {% if item.data.evaluation.bad_layers is defined %}         
              <td>{{item.data.evaluation.bad_layers}}</td>
            {% elif item.data.evaluation.skipped is defined and item.data.evaluation.skipped %}
              <td>Skipped</td>
            {% endif %} 
          {% else %}  
            <td>-</td>
          {% endif %} 
        {% endif %} 


        
        <td>
          <a type="button" class="btn btn-success" href="/eval/{{item.identifier.run}}/{{item.data.params.wheel}}/{{item.data.params.sector}}/{{item.data.params.station}}/">Load</a>
        </td>
       </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}